*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}


h1 , h3{
    color: #b92b27;
}

#login{
    background-color: antiquewhite;
}

#signup{
    background-color: #b92b27;
    color: white;
}

.upvote{
    background-color: green;
    color: white;
}

p a{
    color: purple;
}

p + h3{
    text-decoration: underline;
}

.upvote + button{
    background-color: aqua;
    color: black;
}

button:hover{
    background-color: black;
    color: white;
}

h3:hover{
    text-decoration: none;
}
button:active{
    background-color: red;
   
}
p:active{
    font-weight: bold;
    color: green;
    cursor: pointer;
}

h3::first-letter{
    font-size: bold;
    color: gold;
}

p::selection{
    background-color: yellow;
    color: black;
}